.chat-input{
    display:flex;
    padding:20px;
    background:white;
    border-top:1px solid #ddd;
}

.chat-input input{
    flex:1;
    padding:15px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

.chat-input button{
    margin-left:10px;
    width:120px;
    border:none;
    background:rgb(25, 117, 210);
    color:white;
    border-radius:10px;
    cursor:pointer;
}